.search {
  .search-box{
    padding: 10px;

    .search {
      padding: 25px 15px 15px 15px;
    }
  }
  .search-results {
    padding: 10px;

    .search-info {
        margin-bottom: 10px;
        font-style: italic;
    }
  }
}
